span.result
{
  margin: 8px 0px 0px 24px;
  color: #db3545;
  font-size: 16px;
}
div.form-group
{
  height: 89px;
}
div.custom-div
{
  height: 265px;
}
span.my-error
{
  color: #ea212d;
}
i.fa
{
  color: #ea212d;
}
label.error
{
  color:red;
}
.slider{
      width: 800px;
      height:350px;
      overflow:hidden;
      margin:30px auto;
      background-image:url(images/loader.gif);
      background-repeat: no-repeat;
      background-position:center;
      box-shadow:10px 10px 5px #888888;
    }
    /*.shadow{
      background-image:url(images/shadow.png);
      background-position: top;
      background-repeat: no-repeat;
      width:920px;
      height:144px;
      margin: -60px auto;
    }*/
    .slider img{
      width:800px;
      height:350px;
      display: none;
    }